[Unit]
Description=RTKLIB str2str - RTCM Base Stream
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStartPre=/bin/sleep 4
ExecStart=/usr/local/bin/str2str -in serial://serial/by-id/usb-u-blox_AG_-_www.u-blox.com_u-blox_GNSS_receiver-if00:115200#ubx -out tcpsvr://:2101
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target