[Unit]
Description=RTK Base GPS telemetry mode (GPSD)
After=network.target
Conflicts=str2str.service

[Service]
Type=simple
EnvironmentFile=/etc/default/rtk-base
ExecStart=/usr/sbin/gpsd -N -n -S 2948 -F /run/rtk-base-gpsd.sock ${RTK_BASE_GNSS_DEVICE}
Restart=on-failure
RestartSec=3
