[Unit]
Description=RTKLIB str2str - RTCM Base Stream
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/default/rtk-base
StateDirectory=rtk-base
StateDirectoryMode=0755
ExecStartPre=/bin/sleep 4
ExecStart=/usr/local/sbin/rtk-base-start-str2str
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
